html {
  scroll-snap-type: y mandatory; /* ! */
}

.app {
  background-color: black;
  color: white;
  display: grid;
  place-items: center;
  height: 100vh;
}

.video-div {
  overflow: scroll; /* ! */
  overflow-x: hidden;
  height: 90vh; /* ! */
  scroll-snap-type: y mandatory; /* ! */
  -ms-overflow-style: none; /* ! */
  scrollbar-width: none; /* ! */
  border-radius: 20px;
  width: 350px;
}

.video-div::-webkit-scrollbar {
  display: none; /* hides scrollbar  */ /* ! */
}
