.footer-div {
  color: white;
  bottom: 105px;
  padding: 0 1em;
  display: flex;
  position: relative;
}

@keyframes Spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.record {
  animation: Spin360 infinite 5s linear;
  filter: invert(1);
  height: 50px;
  margin-top: 35px;
  margin-left: 10px;
}

.footer-text {
  flex: 1;
}

.note {
  position: absolute;
}

.ticker {
  margin-left: 25px;
}
